.container_page4_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 99vh;
    background: url("/assets/tetris4.jpeg") no-repeat center/cover;
    background-size: cover;
    overflow: hidden;
  }
  
  .counter {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 50%;
    padding: 6px 17px;
    font-size: 1.2rem;
  }
  
  .backArrow {
      position: absolute;
      top: 15px; /* Ajusta según sea necesario */
      left: 15px; /* Ajusta según sea necesario */
      font-size: 40px; /* Ajusta según sea necesario */
      color: rgba(128, 128, 128, 0.5); /* Color gris transparente */
      cursor: pointer; 
      background: white;
      border-radius: 50%;
      padding: 0px 5px;
      z-index: 100;
    }
  
  .descriptionContainer_page4_3 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 30px 25px;
    backdrop-filter: blur(10px);
    margin-top: 20px;
    width: 90%;
  }
  
  .description_page4_3 {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }
  
  .btn_index,
  .btn_index::after {
   padding: 16px 20px;
   font-size: 18px;
   background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
   border: 0;
   color: #fff;
   letter-spacing: 3px;
   line-height: 1;
   box-shadow: 6px 0px 0px #00e6f6;
   outline: transparent;
   position: relative;
   top: -45px;
   cursor: pointer;
  }
  
  .btn_index::after {
   --slice-0: inset(50% 50% 50% 50%);
   --slice-1: inset(80% -6px 0 0);
   --slice-2: inset(50% -6px 30% 0);
   --slice-3: inset(10% -6px 85% 0);
   --slice-4: inset(40% -6px 43% 0);
   --slice-5: inset(80% -6px 5% 0);
   content: "COMENZAR";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
   text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
   clip-path: var(--slice-0);
  }
  
  .btn_index:hover::after {
   animation: 1s glitch;
   animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
   0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
   }
  
   10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
   }
  
   20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
   }
  
   30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
   }
  
   40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
   }
  
   50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
   }
  
   60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
   }
  
   70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
   }
  
   80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
   }
  
   90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
   }
  
   100% {
    clip-path: var(--slice-1);
    transform: translate(0);
   }
  }

  .img_page4_3{
    width: 50%;
  }
  
  @media (max-width: 600px) {

    .descriptionContainer_page4_3{
      margin-top: 70px;
    }

    .descriptionContainer_page4_3{
      margin-top: -20px;
    }

    .backArrow {
      left: 15px; /* Ajusta según sea necesario para pantallas pequeñas */
    }
    
    .description_page4_3 {
      font-size: 1.1rem; /* Ajusta según sea necesario para pantallas pequeñas */
      margin-top: 1vw; /* Ajusta según sea necesario para pantallas pequeñas */
    }

    .img_page4_3{
      width: 100%;
    }

    .btn_index{
      top: 25px;
    }
  }